<h1> WELCOME TO SPOTIFY</h1>

<img src="/images/spotify-background.jpeg" class="home-page-img"/>
<form action="/artist-search" method="GET" class="form">
  <input type="text" name="artist" class="home-input">
  <button type="submit" class="home-search-button">Search for an artist</button>
</form>